@import "../../variables.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background-color: $base-color-main;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.leftSide_wrap {
    width: 64px;
    display: flex;
}

.mainSide_wrap {
    width: 100%;
    display: flex;
    padding: 8px;
}

.leftList_wrap {
    background-color: $base-color-list;
    height: 100%;
    width: 100%;
    max-width: 250px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
}

.chat_wrap {
    background-color: $base-color-chat;
    height: 100%;
    width: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}