@import "../../../../../variables.scss";

.message_wrap {
    width: max-content;
    height: max-content;
    display: flex;
    margin-top: 12px;
}

.message_avatar_wrap {
    width: 40px;
    position: relative;
}

.message_avatar {
    width: 32px;
    height: 32px;
    background-color: aqua;
    position: absolute;
    bottom: 4px;
    border-radius: 50%;
}

.message_body {
    width: max-content;
    height: max-content;
    padding: 12px;
    background: $message_body;
    border-radius: 12px 12px 12px 0px;
}

.message_user {
    color: #73D750;
}

.message_time {
    color: #A3ABB1;
}

.message_text {
    color: #FFFFFF;
}